@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import "bitcoin.scss";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap");

// Set your brand colors
$black: #000000;
$grey: rgb(70, 70, 70);
$purple: #8a4d76;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$mnancer: #f2c335;

// Update Bulma's global variables
$family-sans-serif: "Anek Latin", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $grey;
$widescreen-enabled: false;
$fullhd-enabled: false;

//Navbar
$navbar-item-color: $black;
$navbar-item-hover-color: $mnancer;

//Navbar dropdown
$navbar-dropdown-arrow: $grey;
$navbar-burger-color: $mnancer;

// //Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/layout/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/elements/table.sass";
// @import "../node_modules/bulma/sass/helpers/_all.sass";
// @import "../node_modules/bulma/sass/grid/_all.sass";
// @import "../node_modules/bulma/sass/components/level.sass";

//Breadcums
.breadcrumb li a {
  color: rgb(78, 78, 78);
}

.breadcrumb-big li:hover {
  background-color: #d3d1d13d;
  border-radius: 1rem;
}

#h1 {
  display: flex;
  align-items: center;
}

.is-mnancer {
  background-color: $mnancer;
}

.popular-crypto p {
  font-size: 0.8rem;
  color: grey;
}

.popular-crypto .columns:hover {
  background-color: #e9e9e957;
}

.build-crypto {
  background: white;
}

.build-crypto-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.build-crypto button {
  margin-top: 2rem;
}

.portfolio-column {
  display: flex;
  justify-content: center;
}

#navbar {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  /* <== You can change this break point as per your  needs */
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.explore-section {
  background-color: white;
}

.mnancer-cards .column .card:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(95, 95, 95, 0.45);
  box-shadow: 5px 5px 15px 5px rgba(95, 95, 95, 0.45);
}
.mnancer-cards .card {
  height: 100%;
}
.trusted-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trusted-crypto-exchange {
  background-color: white;
}

.need-help {
  background-color: white;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
}
.simple-hover {
  border-radius: 1rem;
}

.simple-hover:hover {
  background-color: white;
  transition: background 1s;
}

.btc-prueba:hover {
  background: rgba(192, 192, 192, 0.247);
  transition: background 1s;
}

.span-img {
  display: flex;
}

.span-img span {
  margin-left: 0.2rem;
}

.border-bottom {
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.212);
}

.border-bottom:hover {
  background: rgba(235, 233, 233, 0.222);
}

.span-bank-cards {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
}

#transactions-history {
  margin-top: 1rem;
}

.history-container {
  padding: 0.2rem;
}
.history-container:hover {
  background-color: rgba(203, 203, 203, 0.233);
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}