@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// Set your brand colors
$black: #000000;
$grey: rgb(70, 70, 70);
$purple: #8A4D76;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$mnancer: #F2C335;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $grey;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Navbar
$navbar-item-color: $black;
$navbar-item-hover-color: $mnancer;

//Navbar dropdown
$navbar-dropdown-arrow: $grey;
$navbar-burger-color: $mnancer;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/level.sass";

#h1 {
    display: flex;
    align-items: center;
};

.is-mnancer {
    background-color: $mnancer;
};

.popular-cryptocurrencies {
    background-color: white;
}

.popular {
    display: flex;
    justify-items: center;
    align-items:baseline;
    justify-content: space-between;
};

.popular-crypto p {
    font-size: 0.8rem;
    color: grey;
}

.popular-crypto .columns:hover {
    background-color: #e9e9e957;
};

.build-crypto {
    background: white;
};

.build-crypto-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
};

.build-crypto button {
    margin-top: 2rem;
}

.portfolio-column {
    display: flex;
    justify-content: center;
}
#navbar {
    font-size: 0.8rem;
};

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
};

.explore-section { background-color: white; }

.mnancer-cards .column .card:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(95, 95, 95, 0.45);
    box-shadow: 5px 5px 15px 5px rgba(95, 95, 95, 0.45);
};
.mnancer-cards .card {
    height: 100%;
};
.trusted-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
};

.trusted-crypto-exchange {
    background-color: white;
};

.need-help {
    background-color: white;
};

.footer-social-list {
    display: flex;
    justify-content: space-around;
}